<!--
Name - Zeel Sutariya(100846187)
Date - Nov 21, 2022
 -->
@{
    ViewData["Title"] = "About";
}

<!DOCTYPE HTML>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>
    <h1>About Me</h1>

    <div class="center">
        <h4>
            Name - Zeel Sutariya<br/>
            Student ID - 100846187<br />
            Course - NETD 3202-07<br /><br />
            This website is created by me as a Lab project.<br /><br />
            <!--Below the hyerlink redirect you to ThisSite Page/View-->
            If you want to know more about the website click on <a href="~/Home/ThisSite"> "What's This Site"</a>.
        </h4>
    </div>


</body>
</html>

