
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div class="center">
    <h4>
        The only way to coontact us is by email. You may email us to "greencode@contact.com" for any issues or trouble. Our technical team
        will enjoy helping you. Never hesitate to contact us for suggestions or problems experienced by you. We really appreciate your
        time, suggestions, and experience on the website.<br/>
        You may email us for the feedback as well at "greencode@feedback.com".

    </h4>
</div>