<!--
Name - Zeel Sutariya(100846187)
Date - Nov 21, 2022
 -->
@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
</head>

<body>


    <div class="center">
        <h3>Quick Start</h3>
        <h4>
            Green Code is a website made for teachers to store the data of their students so that they no longer need to do the same manually.
            By using this site they could be assured for the security and can easily manage their student's data.
            <br /><br/>
            Let's quickly start by pressing the below button.<br/><br/>
            <!-- Below there is a button which redirect you to Students page-->
            <a class="active" href="~/Students"><button type="button">Let's Start!</button></a>
        </h4>
    </div>
</body>
</html>
