
@{
    ViewData["Title"] = "ThisSite";
}

<h1>What's This Site</h1>

<div class="center">
    <h4>
        This Lab is made to make the teacher’s work easier. Usually, it’s hard for teachers in schools to create a website and database where 
        they can store students’ details corresponding to the teacher. And in case you need to retrieve the data it’s very easy to retrieve 
        a piece of data regarding a teacher or a student. This is a website where you can track the details of the students and teachers. 
        And this is not just limited to teacher and student data but also can store the attendance and grades of students. <br/><br/>
        I got this idea 
        because when I was in school and even now, the teacher uses a register book where they mark everything like attendance, names, roll no.,
        etc. which I found hard for them as they have to manually create all the rows and columns with student names and dates respectively on
        every page. Also, the grades and attendance can easily be changed if the teacher forgets it in class. <br/><br />

        So, I got to this idea of making a website where any teacher can add their corresponding class details to their account. With this website,
        they can easily store and 
        secure data and importantly can save a lot of time which they waste in making register books.
    </h4>
</div>